<div class="h1 mt-5 mb-4">The Dream</div>
<p>
  When you are a child, you see manythings. Then you will forget most of it. The remaining is what you have paid close attention
  to and dreamed about. Once I saw Hang Gliders on TV, it certainly looks cool when you watch it. I never thought if I am
  in there, I will be off the ground for handreds of meters. So I liked that but again, never came to my mind that I can
  do it. I think if you like something but you can never imagine that you can do it, that is somehow your dream!
</p>
<div class="row no-gutters">
  <div class="col no-gutters"></div>
  <img src="../../assets/images/hang-gliders-rio.jpg" class="w-100 h-100" />
</div>

<div class="h1  mt-5 mb-4">The Journey</div>
<p>
  It was just a dream.  I met a friend who has joined a paragliding club for few months. As soon as she told me about
  her experience, I asked her to introduce me to their club. This was in 2016. I joined the club after few month and took
  a three-month course in Hanoi Paragliding to become a pilot. In the final weekend, we went to practice in a hill. I could
  experience getting off the ground for few meters. It was scary enough for me to pull the brakes hard to go down. So hard
  that the glider almost stalled and I had my first incident at the same time. In spite of the bad landing, my instructors
  asked my to go to fly in the mountain the next day. For some obvious reasons I was very nervous and so were my classmates!
  There was no way back and I had to take my first flight. My only hope was that my instructors will guide me through the
  radio and that gave me enough confident. This was a turning point in my life. I have found my hobby.
</p>
<div class="h1  mt-5 mb-4">Paragliding and its costs</div>
<p>

  Paragliding is very low maintenance and exciting sport. In Hani, Vietnam it can cost around 300$ to join a course. The gear
  may cost around 1000$ if you are good to start with 2nd hand equipments. After finishing th course, you are free to fly
  in most places and you will only pay for transportation to go to the place and usually to go up-hill.
</p>
<div class="h1  mt-5 mb-4">My Paragliding Profile</div>
