<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
          <a routerLink="/home" class="navbar-brand text-uppercase d-md-none">
              <i class="fa fa-bullseye text-danger" aria-hidden="true"></i> Arman Fatahi
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav text-uppercase mx-auto">
                  <li class="nav-item">
                      <a routerLink="/home" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Malaysia<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a href="locations.html" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Iran</a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/paragliding" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Paragliding</a>
                  </li>
                  <li class="nav-item d-none d-md-block">
                      <a routerLink="/home" class="navbar-brand mx-md-2 mx-xl-3">
                          <span class="yinyang-icon">&#9775;</span> Arman Fatahi <span class="yinyang-icon">&#9775;</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="locations.html" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Vietnam</a>
                  </li>
                  <li class="nav-item">
                      <a href="menu.html" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hong Kong</a>
                  </li>
                  <li class="nav-item">
                      <a href="rewards.html" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Interests</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav><!-- End of Navigation -->

        <router-outlet></router-outlet>

  <footer class="bg-light p-3 pt-5">
      <ul class="list-inline text-uppercase text-center">
          <li class="list-inline-item mx-3">
              <a href="about.html" class="text-danger">About Me</a>
          </li>
          <li class="list-inline-item mx-3">
              <a href="careers.html" class="text-danger">Contact Me</a>
          </li>
          <li class="list-inline-item mx-3">
              <a href="contact.html" class="text-danger">Send An Advise Or A Suggestion</a>
          </li>
      </ul>
      <h6 class="pt-3 pb-2 text-center">Let's Be Friends</h6>
      <ul class="list-inline text-center">
          <li class="list-inline-item mx-2">
              <a href="https://www.facebook.com/Intelligent.Smart.Clever.Arman" class="text-danger">
                  <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
              </a>
          </li>
          <li class="list-inline-item mx-2">
              <a href="https://twitter.com/ArmanFatahi" class="text-danger">
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
              </a>
          </li>
          <li class="list-inline-item mx-2">
              <a href="https://www.linkedin.com/in/armanfatahi" class="text-danger">
                  <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
              </a>
          </li>
          <li class="list-inline-item mx-2">
            <a href="https://plus.google.com/+ArmanF" class="text-danger">
                <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
            </a>
            </li>
          <li class="list-inline-item mx-2">
            <a href="skype:armanfatahi?call" class="text-danger">
                <i class="fa fa-skype fa-2x" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
  </footer>        
</div><!-- End of Main Container -->    