<section id="quality-ingredients">
  <div class="d-flex align-items-center justify-content-center text-light aw-vertical-align">
    <h1 class="aw-border text-center">Someone like you!</h1>
  </div>
</section>
<section>
  <div class="row equal-height">
    <div class="col-sm-12 col-md-6 col-lg-4 my-4">
      <div class="card">
        <img src="https://graph.facebook.com/10203333646878055/picture?width=10203333646878055&height=10203333646878055" alt="My Story" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">My Story</h4>
          <p class="card-text">Hello, I’m from Pawe, Iran. I hold a master degree of Computer Science from UTM.
            My specialization is Artificial Intelligence specifically concept bases searching in large repositories.
            I work in FPT Software in Hanoi, Vietnam.</p>
        </div>
        <div class="card-footer">
          <!-- <a href="#" class="btn btn-danger">Order</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-4">
      <div class="card">
        <img src="../../assets/images/DanangParagliding-arman-fatahi.jpg" alt="Take-Off in Da Nang" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">My Vision</h4>
          <p class="card-text">My vision is to develop applications which connect groups of people in a certain way in order to unleash their potentials by collaborating with each other.
           <br> As a result of collaboration they can accomplish more complex tasks in less time. These application mainly focus on providing new ways of communication which can help individuals in more precise planing and decision making.</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-4">
      <div class="card">
        <img src="../../assets/images/Professional-arman-fatahi.jpg" alt="My Work" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">My Work</h4>
          <p class="card-text">
            SOFTWARE DEVELOPER IN HANOI, VIET NAM  
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</section>
